body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #fafafa;
    font-size: 36px;
}

#grid-area {
    display: grid;
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

.grid-item {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}

#toolbar {
height: 50px;
border: 4px solid black;
border-radius: 8px;
margin-top: 10px;
padding: 0 20px;
background-color: #fafafa;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

button {
    border-radius: 8px;
    padding: 6px;
    background-color: rgb(72, 71, 71);
    color: #fafafa;
}

button:hover {
    background-color: 0.9;
}

#saveBtn {
    background-color: rgb(204, 204, 204);
    color: black;
}